* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// navbar
.navbar {
	transition: all 0.5s ease-in-out;
}

.navbar-sticky {
	opacity: 0.9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar .btn-outline-light:hover {
	color: var(--bs-dark);
}

@media (max-width: 1000px) {
	.navbar {
		background: var(--bs-dark);
	}
}

//  hero
.header {
	background: url("../images/header-background.jpg") center center no-repeat;
	background-size: cover;
}

@media (max-width: 1000px) {
	.hero .image-container {
		display: flex;
		justify-content: center;
	}

	.hero .text-container {
		text-align: center;
	}
}

// modal
.modal-dialog {
	max-width: 1040px;
}

// download
.download {
	background: url("../images/download-background.jpg") center center no-repeat;
	background-size: cover;
}

.map iframe {
	top: 0;
	left: 0;
	height: 400px;
	width: 100%;
	border: none;
}
